/*----------------------------------------------------------*/
/*==       SECTION FONCTIONNEMENT (FONCTIONNEMENT)          */
/*----------------------------------------------------------*/
.fonctionnement{
    padding: 40px 20px;
    font-size: $taille-titre-section;
    background-color: $couleur-blanc;
    &__bloc{
        @include tablette{
            @include espaceEntreElementWrap;
        }  
        @include desktop{
            @include espaceEntreElementWrap
        } 
        @include plusGrandEcran{
            @include espaceEntreElementWrap;
        }  
    }
    &__contenu{
        position: relative;
        margin-bottom: 20px;
        margin-left: 10px;
        background-color: $couleur-fond;
        height: 60px;
        @include ombre;
        @include bordureArrondie;
        @include centrerV;
        @include tablette{
            flex-basis: 48%;
        } 
        @include desktop{
            flex-basis: 31%;
            /*margin-right: 18px;*/
        } 
        @include plusGrandEcran{
            flex-basis: 31%;
            /*margin-right: 21px;*/
        }
    }
    &__numero{
        position: absolute;
        left: -12px;
        top: 18px;
        height: 22px;
        width: 22px;
        background-color: $couleur-principale;
        color: $couleur-blanc;
        font-size: 0.8rem;
        @include centrer;
        @include cercle;
        @include plusGrandEcran{
            font-size: 1rem
        }
    } 
    &__icone{
        @include centrerV;
        margin-left: 30px;
        margin-right: 5px;
        font-size: $taille-contenu-icone;
        width: 30px;
        @include plusGrandEcran{
            font-size: $taille-contenu-icone-grand-ecran;
        }
        &--bleu{
            color: $couleur-principale;
        }
        &--fonce{
            color: #858282;
        }
    } 
    &__possibilite{
        font-weight: 900;
        font-size: $taille-contenu-texte;
        @include plusGrandEcran{
            font-size: $taille-contenu-texte-grand-ecran;
        }
    }  
}
