/*----------------------------------------------------------*/
/*==       SECTION FONCTIONNEMENT (FONCTIONNEMENT)          */
/*----------------------------------------------------------*/
.fonctionnement{
    padding: 40px 20px;
    font-size: $taille-titre-section;
    background-color: $couleur-blanc;
    &__bloc{
        @include tablette{
            @include espaceEntreElementWrap;
        }  
        @include desktop{
            @include espaceEntreElementWrap
        } 
        @include plusGrandEcran{
            @include espaceEntreElementWrap;
        }  
    }
    &__contenu{
        position: relative;
        z-index: 60;
        margin-bottom: 20px;
        margin-left: 10px;
        background-color: $couleur-fond;
        height: 60px;
        opacity: 0.8;
        transition: transform 200ms $temporisation 150ms, opacity 350ms; 
        @include ombre;
        @include bordureArrondie;
        @include centrerVertical;
        &:hover{
            transform: translateY(1px);
            opacity: 1;
            background-color:#f2eafb;
            @include ombreTransition;
            & .fonctionnement__icone--fonce{
                color: $couleur-principale;
            }
        }
        /* Les tablettes */
        @include tablette{
            flex-basis: 48%;
        } 
        /* Les desktop */
        @include desktop{
            flex-basis: 31%;
        } 
        /* Ecrans plus grand */
        @include plusGrandEcran{
            flex-basis: 31%;
        }
        
    }
    &__numero{
        position: absolute;
        left: -12px;
        top: 18px;
        height: 22px;
        width: 22px;
        background-color: $couleur-principale;
        color: $couleur-blanc;
        font-size: 0.8rem;
        @include centrerHorizontalVertical;
        @include cercle;
        @include plusGrandEcran{
            font-size: 1rem
        }
    } 
    &__icone{
        @include centrerVertical;
        margin-left: 30px;
        margin-right: 5px;
        font-size: $taille-contenu-icone;
        width: 30px;
        @include plusGrandEcran{
            font-size: $taille-contenu-icone-grand-ecran;
        }
        &--fonce{
            color: #858282;
        }
    } 
    &__possibilite{
        font-weight: 900;
        font-size: $taille-contenu-texte;
        @include plusGrandEcran{
            font-size: $taille-contenu-texte-grand-ecran;
        }
    }  
}
