/*--------------------------------------------*/
/*==       PIED DE PAGE (FOOTER)              */
/*--------------------------------------------*/
.pied-de-page{
    padding: 20px;
    background-color: $couleur-pied-de-page;
    //width: 100%;
    @include desktop{
        @include conteneur;
    }
    @include plusGrandEcran{
        @include conteneur;
        max-width: 1400px;
    }
    &__navigation{
        @include tablette{
            @include espaceEntreElement;
        }
        @include desktop{
            @include espaceEntreElement;
        }
        @include plusGrandEcran{
            @include espaceEntreElement;
        }
    }
    &__titre{
        color: $couleur-blanc;
        font-weight: unset;
        font-size: 1.1rem;
    }
    &__lien{
        margin-bottom: 5px;
        & a{
            color:$couleur-blanc;
            font-size: .9rem;
            &::after{
                content: "";
                display: block;
                margin: 5px auto 0 auto;
                width: 0px;
                height: 2px;
                border-radius: 2px;
                background: #aaa;
                transform: width 200ms $temporisation;
            }
            &:hover::after{
                width: 100%;
            }
        }
    }
    &__icone{
        margin-right: 10px;
        &--fourchette{
            font-size: .8rem;
            padding-right: 2px;
        }
        &--partenaire{
            font-size: .7rem;
        }
    }
}


    
    
       
