/*--------------------------------------------*/
/*==       PIED DE PAGE (FOOTER)              */
/*--------------------------------------------*/
.pied-de-page{
    padding: 20px;
    background-color: $couleur-pied-de-page;
    @include desktop{
        width: 90%;
        margin: 0 auto;
    }
    @include plusGrandEcran{
        @include conteneur;
    }
    &__navigation{
        @include tablette{
            @include espaceEntreElement;
        }
        @include desktop{
            @include espaceEntreElement;
        }
        @include plusGrandEcran{
            @include espaceEntreElement;
        }
    }
    &__titre{
        color: $couleur-blanc;
        font-weight: unset;
        font-size: 1.1rem;
        @include tablette{
            font-size: 1.2rem;
        }
        @include desktop{
            font-size: 1.3rem;
        }
        @include plusGrandEcran{
            font-size: 1.4rem;
        }
    }
    &__lien{
        margin-bottom: 5px;
        & a{
            color:$couleur-blanc;
            font-size: .9rem;
            @include tablette{
                font-size: 1rem
            }
            @include desktop{
                font-size: 1.1rem;
            }
            @include plusGrandEcran{
                font-size: 1.2rem;
            }
        }
    }
    &__icone{
        margin-right: 10px;
        &--fourchette{
            font-size: .8rem;
            padding-right: 2px;
            @include tablette{
                font-size: 1rem;
            }
            @include desktop{
                font-size: 1.1rem;
            }
            @include plusGrandEcran{
                font-size: 1.2rem;
            }
        }
        &--partenaire{
            font-size: .7rem;
            @include tablette{
                font-size: 1rem;
            }
            @include desktop{
                font-size: 1.1rem;
            }
            @include plusGrandEcran{
                font-size: 1.2rem;
            }
        }
    }
}


    
    
       
