/*----------------------------------------------------------*/
/*==       SECTION PRESENTATION (PRESENTATION)              */
/*----------------------------------------------------------*/
.presentation{
    padding: 10px 0px;
    background: $couleur-fond;
    text-align: center;
    &__entreprise{
        width: 300px;
        margin: 0 auto;   
    }
    &__titre{
        font-size: 1.7rem;
        margin-bottom: 15px;
    }
    &__restaurants{
        color:$couleur-pied-de-page;
        margin-top: 0;
    }
    &__bouton{
        @include bouton;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 15px;
        margin-bottom: 30px;
        cursor: pointer;
        &:hover{
           opacity: 1;
           @include ombreTransition;
           background: linear-gradient(180deg,$couleur-secondaire 10%,$couleur-principale 100%);
        }
    }
}
