/*----------------------------------------------------------*/
/*==       SECTION MENU RESTAURANT (RESTAURANT)             */
/*----------------------------------------------------------*/
.restaurant{
    padding: 10px 20px;
    background: $couleur-fond;
    font-size: $taille-titre-section;
    &__titre{
        margin-bottom: 20px;
    }
    &__gastronomique{
        @include tablette{
            @include espaceEntreElementAroundWrap;
        } 
        @include desktop{
            @include espaceEntreElementAroundWrap;
        } 
        @include plusGrandEcran{
            @include espaceEntreElementAroundWrap;
        }
    }
    &__carte{
        background: white;
        position: relative;
        margin-bottom: 20px;
        transition: transform 200ms cubic-zebier(0.3,0.7,0.4,1.5);
        @include bordureArrondie; 
        @include ombre;
        @include tablette{
            flex-basis: 48%;
        }  
        @include desktop{
            flex-basis: 48%;
        }
        @include plusGrandEcran{
            flex-basis: 24%;
        } 
        &:hover{
            transform: translateY(2px);
        }  
    }
    &__image{
        width: 100%;
        height: 160px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    &__legende{
        margin: 0;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 80px;
        height: 30px;
        background: $couleur-tertiaire;
        font-size: .9rem;
        font-weight: 900;
        color: green;
        @include centrer;
    }   
    &__menu{
        /*@include espaceEntreElementCentrerV;*/
        padding-left: 10px;
        padding-right: 20px;
    } 
    &__plat{
        font-size: 1rem;
        padding-left: 10px;
        padding-bottom: 2px;
        & h4{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        & p{
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    &__coeur{
        font-size: 1.3rem;
        height: 40px;
        position: absolute;
        top: 175px;
        right: 10px;
        opacity: .7;
        cursor: pointer;
        transition:opacity 200ms cubic-zebier(0.3,0.7,0.4,1.5) ;
        &:active{
            color: $couleur-secondaire;
            opacity: 1;
        }
    }
}




