/*----------------------------------------------------------*/
/*==       SECTION MENU RESTAURANT (RESTAURANT)             */
/*----------------------------------------------------------*/
.restaurant{
    padding: 10px 20px;
    background: $couleur-fond;
    font-size: $taille-titre-section;
    &__titre{
        margin-bottom: 20px;
    }
    &__gastronomique{
        //Tablettes
        @include tablette{
            @include espaceEntreElementAroundWrap;
        } 
        //Desktop
        @include desktop{
            @include espaceEntreElementAroundWrap;
        } 
        //Ecrans plus grand
        @include plusGrandEcran{
            @include espaceEntreElementAroundWrap;
        }
    }
    &__carte{
        background: white;
        position: relative;
        margin-bottom: 20px;
        transition: transform 200ms $temporisation;
        @include bordureArrondie; 
        @include ombre;
        //Tablettes
        @include tablette{
            flex-basis: 48%;
        }  
        //Desktop
        @include desktop{
            flex-basis: 48%;
        }
        //Ecran plus grand
        @include plusGrandEcran{
            flex-basis: 24%;
        } 
    }
    &__image{
        width: 100%;
        height: 160px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    &__legende{
        margin: 0;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 80px;
        height: 30px;
        background: $couleur-tertiaire;
        font-size: .9rem;
        font-weight: 900;
        color: green;
        @include centrerHorizontalVertical;
    }   
    /*&__menu{
        @include espaceEntreElementCentrerV;
        padding-left: 10px;
        padding-right: 20px;
    }*/
    &__plat{
        font-size: 1rem;
        padding-left: 10px;
        padding-bottom: 2px;
        & h4{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        & p{
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    &__coeur{
        font-size: 1.3rem;
        height: 40px;
        position: absolute;
        top: 175px;
        right: 10px;
        opacity: .7;
        cursor: pointer;
        transform-origin: bottom;
        background: transparent;
        transition:opacity 200ms $temporisation;
        &:hover{
            //background-color: linear-gradient($couleur-secondaire,$couleur-principale);
            opacity: 1;
            font-weight: 900;
            color: $couleur-secondaire;
        }
    }
}




