
//loading spinner
.chargement{
    position: fixed;
    background:$couleur-blanc;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    z-index: 1000;
    visibility: hidden;
    @include centrerHorizontalVertical;
    animation: loader 3s linear;
    &::after{
        content: "";
        display: inline-block;
        height: 120px;
        width: 120px;
        border: 16px solid #f6f6f6;
        border-top: 12px solid $couleur-principale;
        border-right: 12px solid $couleur-secondaire;
        border-bottom: 12px solid $couleur-tertiaire;
        border-radius: 50%;
        opacity: 0;
        animation: tourne-bordure 3s linear;
    }
}

@keyframes loader {
    0%{
        visibility: visible;
    }
    50%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}
@keyframes tourne-bordure {
    0%{
        transform: rotate(-360deg);
        opacity: 1;
    }
    100%{
        transform: rotate(0deg);
        opacity: 0;
    }
}