
.chargement{
    height: 100%;
    background: $couleur-noir;
    animation: tourner 3s linear;
    /*margin: auto;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    @include centrerHorizontalVertical;
    visibility: hidden;
    &__bordure{
        border: 16px solid #f6f6f6;
        border-top: 16px solid $couleur-principale; /* couleur principale  */
        border-bottom: 16px solid $couleur-principale; /* couleur principale */
        border-right: 16px solid $couleur-principale; /* couleur principale */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: bordure 3s linear;
        /*margin: auto;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 900;*/
        visibility: hidden;
    }
}

@keyframes tourner {
    0% { 
        visibility: visible;
        opacity: 1;
    }
    50%{
        opacity: 0.7; 
    }
    70%{
        opacity: 0.5; 
    }
    100% { 
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes bordure {
    0% { 
        visibility: visible;
        transform: rotate(0deg); 
        opacity: 1;
    }
    /*75%{
        opacity: 1; 
    }*/
    50%{
        opacity: 1; 
    }
    70%{
        opacity: 1; 
    }
    100% { 
        transform: rotate(0deg); 
        visibility: hidden;
        opacity: 0;
    }
}