/*@mixin animationBoutonsPrinciaux {
    transform: scale(1.2); 
    box-shadow: 0 0 10px 3px $couleur-pied-de-page;
}*/
.chargement {
  height: 100%;
  background: #fff;
  -webkit-animation: tourner 2.5s linear;
  -o-animation: tourner 2.5s linear;
  animation: tourner 2.5s linear;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  visibility: hidden;
}
.chargement__bordure {
  border: 16px solid #f6f6f6;
  border-top: 16px solid #9356dc;
  /* couleur principale  */
  border-bottom: 16px solid #9356dc;
  /* couleur principale */
  border-right: 16px solid #9356dc;
  /* couleur principale */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: bordure 2.5s linear;
  -o-animation: bordure 2.5s linear;
  animation: bordure 2.5s linear;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  visibility: hidden;
}

/*@-webkit-keyframes tourner {
    0% { 
        -webkit-transform: rotate(0deg); 
    }
    100% { 
        -webkit-transform: rotate(360deg); 
    }
}*/
@keyframes tourner {
  0% {
    visibility: visible;
    /*transform: rotate(0deg); */
    opacity: 1;
  }
  /* 75%{
       opacity: 1; 
   }*/
  100% {
    /*transform: rotate(360deg); */
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes bordure {
  0% {
    visibility: visible;
    transform: rotate(0deg);
    opacity: 1;
  }
  /*75%{
      opacity: 1; 
  }*/
  100% {
    transform: rotate(360deg);
    visibility: hidden;
    opacity: 0;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

/*h1,h2,h3,h4{
    font-weight: unset;
}*/
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03rem;
}

h1 {
  font-family: "shrikhand", cursive;
}

h2 {
  font-family: "shrikhand", cursive;
}

a {
  text-decoration: none;
  color: #000;
}

.conteneur {
  background-color: #f6f6f6;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .conteneur {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .conteneur {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
  }
}

/*---------------------------------------*/
/*==       EN TETE (HEADER)              */
/*---------------------------------------*/
.en-tete {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .en-tete {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .en-tete {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
  }
}
.en-tete__logo {
  font-size: 2rem;
  font-weight: unset;
}

/*----------------------------------------------------------*/
/*==       SECTION LOCALISATION (LOCALISATION)              */
/*----------------------------------------------------------*/
.localisation {
  background: linear-gradient(#f6f6f6, #eaeaea, #eaeaea, #eaeaea);
  border-top: 3px solid #d3d3d3;
  display: flex;
  justify-content: center;
}
.localisation__affichage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.localisation__icone {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}
.localisation__ville {
  height: 30px;
  width: 150px;
  font-weight: 800;
  border: none;
  background: inherit;
}

/*----------------------------------------------------------*/
/*==       SECTION PRESENTATION (PRESENTATION)              */
/*----------------------------------------------------------*/
.presentation {
  padding: 10px 0px;
  background: #f6f6f6;
  text-align: center;
}
.presentation__entreprise {
  width: 300px;
  margin: 0 auto;
}
.presentation__titre {
  font-size: 1.7rem;
  margin-bottom: 15px;
}
.presentation__restaurants {
  color: #353535;
  margin-top: 0;
}
.presentation__bouton {
  height: 40px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  font-size: 0.9rem;
  box-shadow: 0 0 10px 3px #d3d3d3;
  transition: transform 200ms cubic-zebier(0.3, 0.7, 0.4, 1.5), box-shadow 500ms;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: pointer;
}
.presentation__bouton:hover {
  transform: translateY(2px);
  box-shadow: 0 0 10px 5px #878787;
}

/*----------------------------------------------------------*/
/*==       SECTION FONCTIONNEMENT (FONCTIONNEMENT)          */
/*----------------------------------------------------------*/
.fonctionnement {
  padding: 40px 20px;
  font-size: 1.2rem;
  background-color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fonctionnement__bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .fonctionnement__bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.fonctionnement__contenu {
  position: relative;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: #f6f6f6;
  height: 60px;
  transition: transform 200ms cubic-zebier(0.3, 0.7, 0.4, 1.5), background-color 500ms;
  box-shadow: 0 0 10px 3px #eaeaea;
  border-radius: 19px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__contenu {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fonctionnement__contenu {
    flex-basis: 31%;
    /*margin-right: 18px;*/
  }
}
@media screen and (min-width: 1200px) {
  .fonctionnement__contenu {
    flex-basis: 31%;
    /*margin-right: 21px;*/
  }
}
.fonctionnement__contenu:hover {
  transform: translateY(2px);
  background-color: #fff;
}
.fonctionnement__numero {
  position: absolute;
  left: -12px;
  top: 18px;
  height: 22px;
  width: 22px;
  background-color: #9356dc;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .fonctionnement__numero {
    font-size: 1rem;
  }
}
.fonctionnement__icone {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 5px;
  font-size: 1.1rem;
  width: 30px;
}
@media screen and (min-width: 1200px) {
  .fonctionnement__icone {
    font-size: 1.2rem;
  }
}
.fonctionnement__icone--bleu {
  color: #9356dc;
}
.fonctionnement__icone--fonce {
  color: #858282;
}
.fonctionnement__possibilite {
  font-weight: 900;
  font-size: 1rem;
}
@media screen and (min-width: 1200px) {
  .fonctionnement__possibilite {
    font-size: 1.1rem;
  }
}

/*----------------------------------------------------------*/
/*==       SECTION MENU RESTAURANT (RESTAURANT)             */
/*----------------------------------------------------------*/
.restaurant {
  padding: 10px 20px;
  background: #f6f6f6;
  font-size: 1.2rem;
}
.restaurant__titre {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant__gastronomique {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .restaurant__gastronomique {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__gastronomique {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.restaurant__carte {
  background: white;
  position: relative;
  margin-bottom: 20px;
  transition: transform 200ms cubic-zebier(0.3, 0.7, 0.4, 1.5);
  border-radius: 19px;
  box-shadow: 0 0 10px 3px #eaeaea;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant__carte {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .restaurant__carte {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__carte {
    flex-basis: 24%;
  }
}
.restaurant__carte:hover {
  transform: translateY(2px);
}
.restaurant__image {
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.restaurant__legende {
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 30px;
  background: #99e2d0;
  font-size: 0.9rem;
  font-weight: 900;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__menu {
  /*@include espaceEntreElementCentrerV;*/
  padding-left: 10px;
  padding-right: 20px;
}
.restaurant__plat {
  font-size: 1rem;
  padding-left: 10px;
  padding-bottom: 2px;
}
.restaurant__plat h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.restaurant__plat p {
  margin-top: 0;
  margin-bottom: 10px;
}
.restaurant__coeur {
  font-size: 1.3rem;
  height: 40px;
  position: absolute;
  top: 175px;
  right: 10px;
  opacity: 0.7;
  cursor: pointer;
  transition: all 200ms cubic-zebier(0.3, 0.7, 0.4, 1.5) 0s;
}
.restaurant__coeur:hover {
  color: #ff79da;
  opacity: 1;
  font-weight: 900;
}

/*--------------------------------------------*/
/*==       PIED DE PAGE (FOOTER)              */
/*--------------------------------------------*/
.pied-de-page {
  padding: 20px;
  background-color: #353535;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .pied-de-page {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .pied-de-page {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pied-de-page__navigation {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .pied-de-page__navigation {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .pied-de-page__navigation {
    display: flex;
    justify-content: space-between;
  }
}
.pied-de-page__titre {
  color: #fff;
  font-weight: unset;
  font-size: 1.1rem;
}
.pied-de-page__lien {
  margin-bottom: 5px;
}
.pied-de-page__lien a {
  color: #fff;
  font-size: 0.9rem;
}
.pied-de-page__icone {
  margin-right: 10px;
}
.pied-de-page__icone--fourchette {
  font-size: 0.8rem;
  padding-right: 2px;
}
.pied-de-page__icone--partenaire {
  font-size: 0.7rem;
}

/*---------------------------------------------*/
/*==          LA PAGE MENU (MENU)              */
/*---------------------------------------------*/
.en-tete__logo {
  width: 90%;
  text-align: center;
}

.image img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.menu {
  border-radius: 50px 50px 0 0;
  background-color: #f6f6f6;
  padding: 5px 10px 40px 10px;
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
}
.menu__gastronomique {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*& i{
      padding-right: 20px;
      font-size: 1.3rem;
  }*/
}
.menu__recettes {
  font-weight: unset;
}
.menu__coeur {
  padding-right: 20px;
  font-size: 1.3rem;
  opacity: 0.7;
  cursor: pointer;
  transition: all 200ms cubic-zebier(0.3, 0.7, 0.4, 1.5) 0s;
}
.menu__coeur:hover {
  color: #ff79da;
  opacity: 1;
  font-weight: 900;
}
.menu__composition {
  margin-bottom: 35px;
}
.menu__legende {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: unset;
}
.menu__legende span {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 3px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu__ingredient {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .menu__ingredient {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .menu__ingredient {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.menu__diner {
  background: #fff;
  border-radius: 19px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px 3px #eaeaea;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu__diner {
    flex-basis: 49%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .menu__diner {
    flex-basis: 32%;
  }
}
@media screen and (min-width: 1200px) {
  .menu__diner {
    flex-basis: 32%;
  }
}
.menu__nom {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}
@media screen and (min-width: 1200px) {
  .menu__nom {
    font-size: 1.1rem;
  }
}
.menu__detail {
  display: flex;
  justify-content: space-between;
}
.menu__detail p {
  margin-top: 10px;
  font-size: 0.8rem;
}
@media screen and (min-width: 1200px) {
  .menu__detail p {
    font-size: 1rem;
  }
}
.menu__prix {
  font-weight: 900;
}
.menu__commande {
  display: flex;
  justify-content: center;
}
.menu__bouton {
  height: 40px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  font-size: 0.9rem;
  box-shadow: 0 0 10px 3px #d3d3d3;
  transition: transform 200ms cubic-zebier(0.3, 0.7, 0.4, 1.5), box-shadow 500ms;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 150px;
}
.menu__bouton:hover {
  transform: translateY(2px);
  box-shadow: 0 0 10px 5px #878787;
}
@media screen and (min-width: 1200px) {
  .menu__bouton {
    font-size: 1.2rem;
    width: 180px;
  }
}

/*--------------------------------------------*/
/*==       PIED DE PAGE (FOOTER)              */
/*--------------------------------------------*/
.pied-de-page {
  padding: 20px;
  background-color: #353535;
}
.pied-de-page__titre {
  color: #fff;
  font-weight: unset;
  font-size: 1.1rem;
}
.pied-de-page__lien {
  margin-bottom: 5px;
}
.pied-de-page__lien a {
  color: #fff;
  font-size: 0.9rem;
}
.pied-de-page__icone {
  margin-right: 10px;
}
.pied-de-page__icone--fourchette {
  font-size: 0.8rem;
  padding-right: 2px;
}
.pied-de-page__icone--partenaire {
  font-size: 0.7rem;
}

/*# sourceMappingURL=style.css.map */
