@charset "UTF-8";
/*@mixin animationBoutonsPrinciaux {
    transform: scale(1.2); 
    box-shadow: 0 0 10px 3px $couleur-pied-de-page;
}*/
.chargement {
  position: fixed;
  background: #fff;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s linear;
}
.chargement::after {
  content: "";
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 16px solid #f6f6f6;
  border-top: 12px solid #9356dc;
  border-right: 12px solid #ff79da;
  border-bottom: 12px solid #99e2d0;
  border-radius: 50%;
  opacity: 0;
  animation: tourne-bordure 3s linear;
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes tourne-bordure {
  0% {
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

/*h1,h2,h3,h4{
    font-weight: unset;
}*/
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03rem;
}

h1 {
  font-family: "shrikhand", cursive;
}

h2 {
  font-family: "shrikhand", cursive;
}

a {
  text-decoration: none;
  color: #000;
}

.conteneur {
  background-color: #f6f6f6;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .conteneur {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .conteneur {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
  }
}

/*---------------------------------------*/
/*==       EN TETE (HEADER)              */
/*---------------------------------------*/
.en-tete {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .en-tete {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .en-tete {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
  }
}
.en-tete__logo {
  font-size: 2rem;
  font-weight: unset;
}

/*----------------------------------------------------------*/
/*==       SECTION LOCALISATION (LOCALISATION)              */
/*----------------------------------------------------------*/
.localisation {
  background: linear-gradient(#f6f6f6, #eaeaea, #eaeaea, #eaeaea);
  border-top: 3px solid rgba(81, 73, 90, 0.3);
  display: flex;
  justify-content: center;
}
.localisation__affichage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.localisation__icone {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
}
.localisation__ville {
  height: 30px;
  width: 150px;
  font-weight: 800;
  border: none;
  background: inherit;
}

/*----------------------------------------------------------*/
/*==       SECTION PRESENTATION (PRESENTATION)              */
/*----------------------------------------------------------*/
.presentation {
  padding: 10px 0px;
  background: #f6f6f6;
  text-align: center;
  /*&__entreprise{
      width: 300px;
      margin: 0 auto;   
  }*/
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__entreprise {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .presentation__entreprise {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .presentation__entreprise {
    width: 90%;
    margin: 0 auto;
  }
}
.presentation__titre {
  font-size: 1.7rem;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__titre {
    font-size: 2rem;
  }
}
.presentation__restaurants {
  color: #353535;
  margin-top: 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__restaurants {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .presentation__restaurants {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .presentation__restaurants {
    font-size: 1.2rem;
  }
}
.presentation__bouton {
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.8;
  box-shadow: 0 0 10px 3px #eaeaea;
  transition: opacity 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5) 80ms, box-shadow 330ms;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  cursor: pointer;
}
.presentation__bouton:hover {
  opacity: 1;
  box-shadow: 0 0 10px 5px rgba(56, 50, 62, 0.3);
  background: linear-gradient(180deg, #ff79da 10%, #9356dc 100%);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .presentation__bouton {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .presentation__bouton {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .presentation__bouton {
    font-size: 1.2rem;
  }
}

/*----------------------------------------------------------*/
/*==       SECTION FONCTIONNEMENT (FONCTIONNEMENT)          */
/*----------------------------------------------------------*/
.fonctionnement {
  padding: 40px 20px;
  font-size: 1.2rem;
  background-color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fonctionnement__bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .fonctionnement__bloc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.fonctionnement__contenu {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: #f6f6f6;
  height: 60px;
  opacity: 0.8;
  transition: transform 200ms cubic-bezier(0.3, 0.7, 0.4, 1.5) 150ms, opacity 350ms;
  box-shadow: 0 0 10px 3px #eaeaea;
  border-radius: 19px;
  display: flex;
  align-items: center;
  /* Les tablettes */
  /* Les desktop */
  /* Ecrans plus grand */
}
.fonctionnement__contenu:hover {
  transform: translateY(1px);
  opacity: 1;
  background-color: #f2eafb;
  box-shadow: 0 0 10px 5px rgba(56, 50, 62, 0.3);
}
.fonctionnement__contenu:hover .fonctionnement__icone--fonce {
  color: #9356dc;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fonctionnement__contenu {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .fonctionnement__contenu {
    flex-basis: 31%;
  }
}
@media screen and (min-width: 1200px) {
  .fonctionnement__contenu {
    flex-basis: 31%;
  }
}
.fonctionnement__numero {
  position: absolute;
  z-index: 2;
  left: -12px;
  top: 18px;
  height: 22px;
  width: 22px;
  background-color: #9356dc;
  color: #fff;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .fonctionnement__numero {
    font-size: 1rem;
  }
}
.fonctionnement__icone {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 5px;
  font-size: 1.1rem;
  width: 30px;
}
@media screen and (min-width: 1200px) {
  .fonctionnement__icone {
    font-size: 1.2rem;
  }
}
.fonctionnement__icone--fonce {
  color: #858282;
}
.fonctionnement__possibilite {
  font-weight: 900;
  font-size: 1rem;
}
@media screen and (min-width: 1200px) {
  .fonctionnement__possibilite {
    font-size: 1.1rem;
  }
}

/*----------------------------------------------------------*/
/*==       SECTION MENU RESTAURANT (RESTAURANT)             */
/*----------------------------------------------------------*/
.restaurant {
  padding: 10px 20px;
  background: #f6f6f6;
  font-size: 1.2rem;
}
.restaurant__titre {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant__gastronomique {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .restaurant__gastronomique {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__gastronomique {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.restaurant__carte {
  background: white;
  position: relative;
  z-index: 3;
  margin-bottom: 20px;
  transition: transform 200ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  border-radius: 19px;
  box-shadow: 0 0 10px 3px #eaeaea;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant__carte {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .restaurant__carte {
    flex-basis: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__carte {
    flex-basis: 24%;
  }
}
.restaurant__image {
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.restaurant__legende {
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 30px;
  background: #99e2d0;
  font-size: 0.9rem;
  font-weight: 900;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__plat {
  font-size: 1rem;
  padding-left: 10px;
  padding-bottom: 2px;
}
.restaurant__plat h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.restaurant__plat p {
  margin-top: 0;
  margin-bottom: 10px;
}
.restaurant__coeur {
  position: absolute;
  top: 175px;
  right: 10px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: 0px solid transparent;
  padding: 0;
  cursor: pointer;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant__coeur:hover::before {
  opacity: 1;
}
.restaurant__coeur::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  opacity: 0;
  display: block;
  transition: opacity 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.restaurant__coeur:hover .restaurant__aime--pasdegra {
  opacity: 0;
}
.restaurant__coeur:hover .restaurant__aime--degra {
  opacity: 1;
  font-weight: 900;
}
.restaurant__aime {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: lighten;
}
.restaurant__aime--pasDegra {
  opacity: 0;
}
.restaurant__aime--degra {
  opacity: 1;
}

/*--------------------------------------------*/
/*==       PIED DE PAGE (FOOTER)              */
/*--------------------------------------------*/
.pied-de-page {
  padding: 20px;
  background-color: #353535;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .pied-de-page {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .pied-de-page {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pied-de-page__navigation {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .pied-de-page__navigation {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .pied-de-page__navigation {
    display: flex;
    justify-content: space-between;
  }
}
.pied-de-page__titre {
  color: #fff;
  font-weight: unset;
  font-size: 1.1rem;
}
.pied-de-page__lien {
  margin-bottom: 5px;
}
.pied-de-page__lien a {
  color: #fff;
  font-size: 0.9rem;
}
.pied-de-page__lien a::after {
  content: "";
  display: block;
  margin: 5px auto 0 auto;
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #aaa;
  transform: width 200ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.pied-de-page__lien a:hover::after {
  width: 100%;
}
.pied-de-page__icone {
  margin-right: 10px;
}
.pied-de-page__icone--fourchette {
  font-size: 0.8rem;
  padding-right: 2px;
}
.pied-de-page__icone--partenaire {
  font-size: 0.7rem;
}

/*---------------------------------------------*/
/*==          LA PAGE MENU (MENU)              */
/*---------------------------------------------*/
.en-tete__logo {
  width: 90%;
  text-align: center;
}

.image {
  max-height: 300px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.menu {
  border-radius: 50px 50px 0 0;
  background-color: #f6f6f6;
  padding: 5px 10px 40px 10px;
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
}
.menu__gastronomique {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__recettes {
  font-weight: unset;
}
.menu__coeur {
  margin-right: 15px;
  position: relative;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: 0px solid transparent;
  padding: 0;
  cursor: pointer;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__coeur:hover::before {
  opacity: 1;
}
.menu__coeur::before {
  content: "";
  opacity: 0;
  display: block;
  transition: opacity 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.menu__coeur:hover .menu__aime--pasdegra {
  opacity: 0;
}
.menu__coeur:hover .menu__aime--degra {
  opacity: 1;
  font-weight: 900;
}
.menu__aime {
  background-color: #f6f6f6;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: lighten;
}
.menu__aime--pasDegra {
  opacity: 0;
}
.menu__aime--degra {
  opacity: 1;
}
.menu__composition {
  margin-bottom: 35px;
}
.menu__legende {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: unset;
}
.menu__legende::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 3px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu__ingredient {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .menu__ingredient {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .menu__ingredient {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.menu__diner {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 10px 10px 0px 10px;
  margin-bottom: 15px;
  position: relative;
  z-index: 20;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  animation: apparition-progressive 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5) forwards;
  box-shadow: 0px 0px 12px 0px #eaeaea;
  border-radius: 19px;
}
.menu__diner:nth-child(1) {
  animation-delay: 800ms;
}
.menu__diner:nth-child(2) {
  animation-delay: 1600ms;
}
.menu__diner:nth-child(3) {
  animation-delay: 2400ms;
}
.menu__diner:nth-child(4) {
  animation-delay: 3200ms;
}
.menu__diner:hover .menu__prix {
  margin-right: 70px;
}
.menu__diner:hover .menu__validation {
  transform: scale(1);
  right: 0;
}
.menu__diner:hover .menu__validation::after {
  transform: rotate(360deg);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu__diner {
    flex-basis: 49%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .menu__diner {
    flex-basis: 32%;
  }
}
@media screen and (min-width: 1200px) {
  .menu__diner {
    flex-basis: 32%;
  }
}
.menu__detail {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__detail h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 1200px) {
  .menu__detail h4 {
    font-size: 1.1rem;
  }
}
.menu__detail p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 1200px) {
  .menu__detail p {
    font-size: 1rem;
  }
}
.menu__prix {
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: margin-right 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.menu__validation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -60px;
  width: 60px;
  height: 100%;
  background: #99e2d0;
  transform: scale(0);
  transition: transform 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5), right 500ms ease-in-out;
}
.menu__validation::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  background-color: #99e2d0;
  color: #fff;
  transform: rotate(180deg);
  width: 26px;
  height: 26px;
  transition: transform 500ms cubic-bezier(0.3, 0.7, 0.4, 1.5) 300ms;
}
.menu__commande {
  display: flex;
  justify-content: center;
}
.menu__bouton {
  height: 40px;
  border-radius: 25px;
  border: none;
  outline: none;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.8;
  box-shadow: 0 0 10px 3px #eaeaea;
  transition: opacity 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5) 80ms, box-shadow 330ms;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 150px;
}
.menu__bouton:hover {
  opacity: 1;
  box-shadow: 0 0 10px 5px rgba(56, 50, 62, 0.3);
  background: linear-gradient(180deg, #ff79da 10%, #9356dc 100%);
}
@media screen and (min-width: 1200px) {
  .menu__bouton {
    font-size: 1.2rem;
    width: 180px;
  }
}

/*--------------------------------------------*/
/*==       MENU PAGE (ANIMATION)              */
/*--------------------------------------------*/
@keyframes apparition-progressive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*--------------------------------------------*/
/*==       PIED DE PAGE (FOOTER)              */
/*--------------------------------------------*/
.pied-de-page {
  padding: 20px;
  background-color: #353535;
}
.pied-de-page__titre {
  color: #fff;
  font-weight: unset;
  font-size: 1.1rem;
}
.pied-de-page__lien {
  margin-bottom: 5px;
}
.pied-de-page__lien a {
  color: #fff;
  font-size: 0.9rem;
}
.pied-de-page__icone {
  margin-right: 10px;
}
.pied-de-page__icone--fourchette {
  font-size: 0.8rem;
  padding-right: 2px;
}
.pied-de-page__icone--partenaire {
  font-size: 0.7rem;
}

/*# sourceMappingURL=style.css.map */
