@mixin bouton {
    height: 40px;
    border-radius: 25px;
    border:none;
    outline: none;
    background: linear-gradient(180deg,$couleur-secondaire 0%,$couleur-principale 100%);
    color: $couleur-blanc;
    font-size: .9rem;
    opacity: 0.8;
    //box-shadow: 0 0 10px 3px $couleur-gris;
    @include ombre;
    transition: opacity 250ms $temporisation 80ms ,box-shadow 330ms;
}