@mixin bouton {
    height: 40px;
    border-radius: 25px;
    background: linear-gradient($couleur-secondaire,$couleur-principale);
    color: $couleur-blanc;
    border:none;
    font-size: .9rem;
}