/*---------------------------------------------*/
/*==          LA PAGE MENU (MENU)              */
/*---------------------------------------------*/
//en tête
.en-tete{
    &__logo{
        width: 90%;
        text-align: center;
    }
}
// Image associée au menu
.image{
    & img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    
}
//menu gastronomique
.menu{
    border-radius: 50px 50px 0 0;
    background-color: $couleur-fond;
    padding: 5px 10px 40px 10px;
    position: relative;
    top:-50px;
    left: 0;
    right: 0;
    &__gastronomique{
        @include espaceEntreElementCentrerV;
    }
    &__recettes{
        font-weight: unset;
    }
    &__coeur{
        padding-right: 20px;
        font-size: 1.3rem;
        opacity: .7;
        cursor: pointer;
        transition:all 200ms $temporisation 0s ;
        &:hover{
            color: $couleur-secondaire;
            opacity: 1;
            font-weight: 900;
        }
    }
    &__composition{
        margin-bottom: 35px;
    }
    &__legende{
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: unset;
        & span{
            border-bottom: 3px solid $couleur-tertiaire;
            padding-bottom: 3px;
        }
    }
    &__ingredient{
        @include tablette{
            @include espaceEntreElementWrap;
        } 
        @include desktop{
            @include espaceEntreElementWrap;
        }    
        @include plusGrandEcran{
            @include espaceEntreElementWrap;
        } 
    }
    &__diner{
        background: $couleur-blanc;
        padding: 10px 10px 0px 10px;
        margin-bottom: 15px;
        position: relative;
        z-index: 20;
        overflow: hidden;
        @include ombre;
        @include bordureArrondie;
        &:hover{
            &::after{
                animation: valide 200ms 200ms both;
            }
        }
        &::after {
            content: "\f058";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            background-color:$couleur-tertiaire;
            color: $couleur-blanc; 
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            transform: scale(0);
        }
        @include tablette{
            flex-basis: 49%;
        } 
        @include desktop{
            flex-basis: 32%;
        } 
        @include plusGrandEcran{
            flex-basis: 32%;
        } 
    }
    &__nom{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include plusGrandEcran{
            font-size: 1.1rem;
        } 
    }
    &__detail{
        @include espaceEntreElement;
        & p{
            margin-top: 10px;
            font-size: 0.8rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include plusGrandEcran{
                font-size: 1rem;
            } 
        }
    }
    &__prix{
        font-weight: 900;
    }
    &__commande{
        @include centrerHorizontal;
    }
    &__bouton{
        @include bouton;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 15px;
        margin-bottom: 30px;
        width: 150px;
        &:hover{
            opacity: 1;
            @include ombreTransition;
            background: linear-gradient(180deg,$couleur-secondaire 10%,$couleur-principale 100%);
         }
        @include plusGrandEcran{
            font-size: 1.2rem;
            width: 180px;
        } 
    }
    
}
/*--------------------------------------------*/
/*==       PIED DE PAGE (FOOTER)              */
/*--------------------------------------------*/
.pied-de-page{
    padding: 20px;
    background-color: $couleur-pied-de-page;
    &__titre{
        color: $couleur-blanc;
        font-weight: unset;
        font-size: 1.1rem;
    }
    &__lien{
        margin-bottom: 5px;
        & a{
            color:$couleur-blanc;
            font-size: .9rem;
        }
    }
    &__icone{
        margin-right: 10px;
        &--fourchette{
            font-size: .8rem;
            padding-right: 2px;
        }
        &--partenaire{
            font-size: .7rem;
        }
    }
}

@keyframes valide {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(5);
    }
}