/*---------------------------------------------*/
/*==          LA PAGE MENU (MENU)              */
/*---------------------------------------------*/
//en tête
.en-tete{
    &__logo{
        width: 90%;
        text-align: center;
    }
}
// Image associée au menu
.image{
    & img{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    
}
//menu gastronomique
.menu{
    border-radius: 50px 50px 0 0;
    background-color: $couleur-fond;
    padding: 5px 10px 40px 10px;
    transform: translateY(-5%);
    @include desktop{
        transform: translateY(-10%);
    }
    @include plusGrandEcran{
        transform: translateY(-10%);
    }
    &__gastronomique{
        @include espaceEntreElementCentrerV;
        & i{
            padding-right: 20px;
            font-size: 1.3rem;
        }
    }
    &__recettes{
        font-weight: unset;
    }
    &__composition{
        margin-bottom: 35px;
    }
    &__legende{
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: unset;
        & span{
            border-bottom: 3px solid $couleur-tertiaire;
            padding-bottom: 3px;
        }
    }
    &__ingredient{
        @include tablette{
            @include espaceEntreElementWrap;
        } 
        @include desktop{
            @include espaceEntreElementWrap;
        }    
        @include plusGrandEcran{
            @include espaceEntreElementWrap;
        } 
    }
    &__diner{
        background: $couleur-blanc;
        @include bordureArrondie;
        padding: 10px 10px 0px 10px;
        margin-bottom: 15px;
        @include ombre;
        @include tablette{
            flex-basis: 49%;
        } 
        @include desktop{
            flex-basis: 32%;
        } 
        @include plusGrandEcran{
            flex-basis: 32%;
        } 
    }
    &__nom{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1rem;
        @include plusGrandEcran{
            font-size: 1.1rem;
        } 
    }
    &__detail{
        @include espaceEntreElement;
        & p{
            margin-top: 10px;
            font-size: 0.8rem;
            @include plusGrandEcran{
                font-size: 1rem;
            } 
        }
    }
    &__prix{
        font-weight: 900;
    }
    &__commande{
        @include centrerH;
    }
    &__bouton{
        @include bouton;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 15px;
        margin-bottom: 30px;
        width: 150px;
        @include plusGrandEcran{
            font-size: 1.2rem;
            width: 180px;
        } 
    }
    
}
/*--------------------------------------------*/
/*==       PIED DE PAGE (FOOTER)              */
/*--------------------------------------------*/
.pied-de-page{
    padding: 20px;
    background-color: $couleur-pied-de-page;
    &__titre{
        color: $couleur-blanc;
        font-weight: unset;
        font-size: 1.1rem;
    }
    &__lien{
        margin-bottom: 5px;
        & a{
            color:$couleur-blanc;
            font-size: .9rem;
        }
    }
    &__icone{
        margin-right: 10px;
        &--fourchette{
            font-size: .8rem;
            padding-right: 2px;
        }
        &--partenaire{
            font-size: .7rem;
        }
    }
}
