@mixin bordureArrondie {
    border-radius: 19px;
}
@mixin cercle {
    border-radius: 50%;
}
@mixin ombre{
    box-shadow: 0 0 10px 3px $couleur-ombre;
}
@mixin centrer {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin centrerH {
    display: flex;
    justify-content: center;
}
@mixin centrerV {
    display: flex;
    align-items: center;
}
@mixin espaceEntreElement {
    display: flex;
    justify-content: space-between;
}
@mixin espaceEntreElementCentrerV {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin conteneur {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
}


$pointDeruptures:(
    tabletteDebut:768px,
    tabletteFin:991px,
    desktopDebut:992px,
    desktopFin:1199px,
    plusGrand:1200px
);

@mixin tablette {
    @media screen and (min-width:map-get($pointDeruptures,tabletteDebut)) and 
                      (max-width:map-get($pointDeruptures,tabletteFin)) {
        @content;                      
    }
}
@mixin desktop {
    @media screen and (min-width:map-get($pointDeruptures,desktopDebut)) and 
                      (max-width:map-get($pointDeruptures,desktopFin)) {
        @content;                      
    }
}
@mixin plusGrandEcran {
    @media screen and (min-width:map-get($pointDeruptures,plusGrand)){
        @content;
    }
}
    