//couleur principale
$couleur-principale:#9356dc;
//couleur secondaire
$couleur-secondaire:#ff79da;
//couleur tertiaire
$couleur-tertiaire:#99e2d0;
//couleur blanc
$couleur-blanc:#fff;
//couleur noir
$couleur-noir:#000;
//couleur fond sections presentation, restaurant et articles fonctionnement
$couleur-fond:#f6f6f6;
//couleur fond pied de page
$couleur-pied-de-page:#353535;
//couleur ombre (box shadow)
$couleur-ombre:#eaeaea;
//couleur gris clair
$couleur-gris:hsla(267,10%,32%,30%);

//fontion temporisation
$temporisation:cubic-bezier(0.3,0.7,0.4,1.5);

//taille de titres sections fonctionnement et restaurants
$taille-titre-section:1.2rem;
//taille texte section fonctionnement
$taille-contenu-texte:1rem;
$taille-contenu-texte-grand-ecran:1.1rem;
//taille icone section fonctionnement
$taille-contenu-icone:1.1rem;
$taille-contenu-icone-grand-ecran:1.2rem;